In [71]:
import pandas as pd
from sqlalchemy import create_engine

import psycopg2

In [72]:
csv1 = "Productivity Work Template.csv"

In [73]:
df1 = pd.read_csv(csv1)

In [74]:
df1.columns

Index(['Employee', 'Paid Time', 'Gap Time', 'Utilization', 'Productive Time',
       'Performance', 'Productive LPH', 'LPH', 'Lost Trans/LPH Per Hr',
       'Lost Trans', 'Rate', 'Rate Diff +/-', 'WE DATE', 'Unnamed: 13',
       'Unnamed: 14', 'Paid Time.1', 'Gap Time.1', 'Utilization.1',
       'Productive Time.1', 'Performance.1', 'Productive LPH.1', 'LPH.1',
       'Lost Trans/LPH Per Hr.1', 'Lost Trans.1', 'Rate.1', 'Rate Diff +/-.1',
       'WE DATE.1'],
      dtype='object')

In [75]:
adjusted_df = df1[['Employee', 'Paid Time', 'Gap Time', 'Utilization', 'Productive Time',
       'Performance', 'Productive LPH', 'LPH', 'Lost Trans/LPH Per Hr',
       'Lost Trans', 'Rate', 'Rate Diff +/-', 'WE DATE']]

In [76]:
adjusted_df.index.name = 'Index'

In [77]:
adjusted_df.columns

Index(['Employee', 'Paid Time', 'Gap Time', 'Utilization', 'Productive Time',
       'Performance', 'Productive LPH', 'LPH', 'Lost Trans/LPH Per Hr',
       'Lost Trans', 'Rate', 'Rate Diff +/-', 'WE DATE'],
      dtype='object')

In [78]:
adjusted_df.dtypes

Employee                  object
Paid Time                float64
Gap Time                 float64
Utilization               object
Productive Time            int64
Performance              float64
Productive LPH            object
LPH                       object
Lost Trans/LPH Per Hr     object
Lost Trans               float64
Rate                     float64
Rate Diff +/-            float64
WE DATE                   object
dtype: object

In [79]:
adjusted_df.to_csv('New_Productivity_Work_Template.csv')

In [80]:
finaldf = pd.concat([df1])

In [81]:
finaldf.columns

Index(['Employee', 'Paid Time', 'Gap Time', 'Utilization', 'Productive Time',
       'Performance', 'Productive LPH', 'LPH', 'Lost Trans/LPH Per Hr',
       'Lost Trans', 'Rate', 'Rate Diff +/-', 'WE DATE', 'Unnamed: 13',
       'Unnamed: 14', 'Paid Time.1', 'Gap Time.1', 'Utilization.1',
       'Productive Time.1', 'Performance.1', 'Productive LPH.1', 'LPH.1',
       'Lost Trans/LPH Per Hr.1', 'Lost Trans.1', 'Rate.1', 'Rate Diff +/-.1',
       'WE DATE.1'],
      dtype='object')

In [82]:
finaldf= finaldf.drop(["Unnamed: 13","Unnamed: 14"],axis=1)

In [83]:
Connection_String = "postgres:postgres@localhost:5432/production_db"

engine= create_engine(f'postgresql://{Connection_String}')

In [84]:
finaldf.head()

,Employee,Paid Time,Gap Time,Utilization,Productive Time,Performance,Productive LPH,LPH,Lost Trans/LPH Per Hr,Lost Trans,...,Utilization.1,Productive Time.1,Performance.1,Productive LPH.1,LPH.1,Lost Trans/LPH Per Hr.1,Lost Trans.1,Rate.1,Rate Diff +/-.1,WE DATE.1
Index,,,,,,,,,,,,,,,,,,,,,
0,Dario Garcia Hernandez,40.00,17.1,57.3%,23,473.0,20.66,11.83,8.83,359.0,...,71%,1133.35,28065.0,24.8,16.7,8.1,8887.60,33395.25,-5330.25,11/1/2019
1,Eleazar Zarate,42.60,11.1,73.9%,32,537.0,17.05,12.61,4.44,233.0,...,64%,1004.00,24253.0,24.8,15.5,9.3,11051.50,32120.55,-7867.55,11/8/2019
2,Glen Bero,54.05,10.8,80.0%,43,1068.0,24.69,19.76,4.93,227.0,...,68%,1103.86,24397.0,24.2,15.6,8.5,10068.31,33266.10,-8869.10,11/15/2019
3,Guillermo Cuadra,30.15,9.3,69.2%,21,554.0,26.57,18.37,8.20,195.0,...,68%,1133.46,25660.0,22.9,14.5,8.4,10762.58,35336.70,-9676.70,11/22/2019
4,Jose Rivera,49.70,26.1,47.5%,24,606.0,25.68,12.19,13.48,548.0,...,79%,1190.26,23773.0,20.5,15.3,5.2,6107.95,31643.85,-7870.85,11/29/2019

In [85]:
finaldf.to_sql(name= 'GapTime1', con=engine, if_exists='replace',index=False)

In [86]:
len(adjusted_df.columns)

13

In [87]:
adjusted_df.head()

,Employee,Paid Time,Gap Time,Utilization,Productive Time,Performance,Productive LPH,LPH,Lost Trans/LPH Per Hr,Lost Trans,Rate,Rate Diff +/-,WE DATE
Index,,,,,,,,,,,,,
0,Dario Garcia Hernandez,40.00,17.1,57.3%,23,473.0,20.66,11.83,8.83,359.0,840.0,-367.0,11/1/2019
1,Eleazar Zarate,42.60,11.1,73.9%,32,537.0,17.05,12.61,4.44,233.0,895.0,-358.0,11/1/2019
2,Glen Bero,54.05,10.8,80.0%,43,1068.0,24.69,19.76,4.93,227.0,1135.0,-67.0,11/1/2019
3,Guillermo Cuadra,30.15,9.3,69.2%,21,554.0,26.57,18.37,8.20,195.0,633.0,-79.0,11/1/2019
4,Jose Rivera,49.70,26.1,47.5%,24,606.0,25.68,12.19,13.48,548.0,1044.0,-438.0,11/1/2019

In [88]:
adjusted_df.to_sql(name="GapTime", index=True, if_exists="append", con=engine)